In [1]:
#data handling 
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.head()

  animal_id_outcome  dob_year  dob_month age_upon_intake animal_type                 breed         color intake_condition      intake_type sex_upon_intake  count  age_upon_intake_(days)  age_upon_intake_(years) age_upon_intake_age_group      intake_datetime  intake_month  intake_year intake_monthyear intake_weekday  intake_hour  intake_number            time_in_shelter  time_in_shelter_days age_upon_outcome        date_of_birth sex_upon_outcome  age_upon_outcome_(days)  age_upon_outcome_(years) age_upon_outcome_age_group     outcome_datetime  outcome_month  outcome_year outcome_monthyear outcome_weekday  outcome_hour  outcome_number     outcome_type
0            A11000      2007          7        10 years         Dog  Spinone Italiano Mix  Yellow/White           Normal            Stray   Neutered Male      1                    3650                     10.0               (7.5, 10.0]  2017-12-07 00:00:00            12         2017          2017-12       Thursday           14            1.0  0 days 14:07:00.000000000              0.588194         10 years  2007-07-09 00:00:00    Neutered Male                     3650                      10.0                (7.5, 10.0]  2017-12-07 14:07:00             12          2017           2017-12        Thursday             0             1.0  Return to Owner
1            A11001      2007          7         7 years         Dog  Spinone Italiano Mix  Yellow/White           Normal    Public Assist   Neutered Male      1                    2555                      7.0                (5.0, 7.5]  2014-12-19 10:21:00            12         2014          2014-12         Friday           10            2.0  1 days 06:14:00.000000000              1.259722          7 years  2007-07-09 00:00:00    Neutered Male                     2555                       7.0                 (5.0, 7.5]  2014-12-20 16:35:00             12          2014           2014-12        Saturday            16             2.0  Return to Owner
2            A11002      2007          7         6 years         Dog  Spinone Italiano Mix  Yellow/White           Normal    Public Assist   Neutered Male      1                    2190                      6.0                (5.0, 7.5]  2014-03-07 14:26:00             3         2014          2014-03         Friday           14            3.0  1 days 02:44:00.000000000              1.113889          6 years  2007-07-09 00:00:00    Neutered Male                     2190                       6.0                 (5.0, 7.5]                  NaN              3          2014           2014-03        Saturday            17             3.0  Return to Owner
3            A11003      2004          4        10 years         Dog             Dachshund      Tricolor           Normal  Owner Surrender   Neutered Male      1                    3650                     10.0               (7.5, 10.0]  2014-04-02 15:55:00             4         2014          2014-04      Wednesday           15            1.0  4 days 23:17:00.000000000              4.970139         10 years  2004-04-02 00:00:00    Neutered Male                     3650                      10.0                (7.5, 10.0]  2014-04-07 15:12:00              4          2014           2014-04          Monday            15             1.0          Missing
4            A11004      1997         10        16 years         Dog     Shetland Sheepdog   Brown/White          Injured    Public Assist   Neutered Male      1                    5840                     16.0              (15.0, 17.5]  2013-11-16 09:02:00            11         2013          2013-11       Saturday            9            1.0  0 days 02:52:00.000000000              0.119444         16 years  1997-10-16 00:00:00    Neutered Male                     5840                      16.0               (15.0, 17.5]  2013-11-16 11:54:00             11          2013           2013-11        Saturday            11             1.0  Return to Owner

In [127]:
new_train = train.copy()
new_train.columns

Index(['animal_id_outcome', 'dob_year', 'dob_month', 'age_upon_intake', 'animal_type', 'breed', 'color', 'intake_condition', 'intake_type', 'sex_upon_intake', 'count', 'age_upon_intake_(days)', 'age_upon_intake_(years)', 'age_upon_intake_age_group', 'intake_datetime', 'intake_month', 'intake_year', 'intake_monthyear', 'intake_weekday', 'intake_hour', 'intake_number', 'time_in_shelter', 'time_in_shelter_days', 'age_upon_outcome', 'date_of_birth', 'sex_upon_outcome', 'age_upon_outcome_(days)', 'age_upon_outcome_(years)', 'age_upon_outcome_age_group', 'outcome_datetime', 'outcome_month', 'outcome_year', 'outcome_monthyear', 'outcome_weekday', 'outcome_hour', 'outcome_number', 'outcome_type'], dtype='object')

In [128]:
new_train = new_train.drop(['animal_id_outcome','dob_year','dob_month','color','age_upon_intake','count','age_upon_intake_(days)','age_upon_intake_age_group','intake_datetime','intake_month','intake_year','intake_monthyear','intake_weekday','intake_hour','intake_number','time_in_shelter','age_upon_outcome','date_of_birth','age_upon_outcome_(days)','age_upon_outcome_age_group','outcome_datetime','outcome_month','outcome_year','outcome_monthyear','outcome_weekday','outcome_hour','outcome_number'],axis=1)

In [114]:
new_train.head()

  animal_type                 breed intake_condition      intake_type sex_upon_intake  age_upon_intake_(years)  time_in_shelter_days sex_upon_outcome  age_upon_outcome_(years)     outcome_type
0         Dog  Spinone Italiano Mix           Normal            Stray   Neutered Male                     10.0              0.588194    Neutered Male                      10.0  Return to Owner
1         Dog  Spinone Italiano Mix           Normal    Public Assist   Neutered Male                      7.0              1.259722    Neutered Male                       7.0  Return to Owner
2         Dog  Spinone Italiano Mix           Normal    Public Assist   Neutered Male                      6.0              1.113889    Neutered Male                       6.0  Return to Owner
3         Dog             Dachshund           Normal  Owner Surrender   Neutered Male                     10.0              4.970139    Neutered Male                      10.0          Missing
4         Dog     Shetland Sheepdog          Injured    Public Assist   Neutered Male                     16.0              0.119444    Neutered Male                      16.0  Return to Owner

In [115]:
new_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47803 entries, 0 to 47802
Data columns (total 10 columns):
animal_type                 47803 non-null object
breed                       47803 non-null object
intake_condition            47803 non-null object
intake_type                 47803 non-null object
sex_upon_intake             47802 non-null object
age_upon_intake_(years)     47803 non-null float64
time_in_shelter_days        47803 non-null float64
sex_upon_outcome            47802 non-null object
age_upon_outcome_(years)    47803 non-null float64
outcome_type                47803 non-null object
dtypes: float64(3), object(7)
memory usage: 3.6+ MB

In [129]:
new_train['sex_upon_intake'] = new_train['sex_upon_intake'].fillna('unknown')
new_train['sex_upon_outcome'] = new_train['sex_upon_outcome'].fillna('unknown')

In [117]:
new_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47803 entries, 0 to 47802
Data columns (total 10 columns):
animal_type                 47803 non-null object
breed                       47803 non-null object
intake_condition            47803 non-null object
intake_type                 47803 non-null object
sex_upon_intake             47803 non-null object
age_upon_intake_(years)     47803 non-null float64
time_in_shelter_days        47803 non-null float64
sex_upon_outcome            47803 non-null object
age_upon_outcome_(years)    47803 non-null float64
outcome_type                47803 non-null object
dtypes: float64(3), object(7)
memory usage: 3.6+ MB

In [130]:
from sklearn.preprocessing import LabelEncoder
def label_encode(arr):
    le =LabelEncoder()
    le.fit(arr)
    return le.transform(arr)

In [131]:
new_train['animal_type']= pd.Series(label_encode(new_train['animal_type']))
#new_train['breed']= pd.Series(label_encode(new_train['breed']))
new_train['intake_condition']= pd.Series(label_encode(new_train['intake_condition']))
new_train['intake_type']= pd.Series(label_encode(new_train['intake_type']))
new_train['sex_upon_intake']= pd.Series(label_encode(new_train['sex_upon_intake']))
new_train['sex_upon_outcome']= pd.Series(label_encode(new_train['sex_upon_outcome']))
new_train['outcome_type']=pd.Series(label_encode(new_train['outcome_type']))
new_train['IsMix'] = new_train['breed'].astype(str).str.contains('Mix',case=False).astype(int)
#new_train['outcome_type']=pd.Series(label_encode(new_train['breed']))
new_train = new_train.drop(['breed'],axis=1)
#new_train = new_train.drop(['time_in_shelter_days'],axis=1)
#new_train = new_train.drop(['age_upon_outcome_(years)'],axis=1)

In [132]:
new_train.head()

   animal_type  intake_condition  intake_type  sex_upon_intake  age_upon_intake_(years)  time_in_shelter_days  sex_upon_outcome  age_upon_outcome_(years)  outcome_type  IsMix
0            2                 3            3                2                     10.0              0.588194                 2                      10.0             6      1
1            2                 3            2                2                      7.0              1.259722                 2                       7.0             6      1
2            2                 3            2                2                      6.0              1.113889                 2                       6.0             6      1
3            2                 3            1                2                     10.0              4.970139                 2                      10.0             4      0
4            2                 2            2                2                     16.0              0.119444                 2                      16.0             6      0

In [133]:
from sklearn.model_selection import train_test_split

In [146]:
y = new_train['outcome_type']
x = new_train.drop(['outcome_type'],axis=1)
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.10, random_state=42)
x =x.values
y = y.values
train_data=lgb.Dataset(x,label=y)
#val_data = lgb.Dataset(X_test,label=y_test)

In [15]:
from xgboost import XGBClassifier
import lightgbm as lgb

In [147]:
params = {
          "objective" : "multiclass",
          "num_class" : 9,
          "num_leaves" : 60,
          "max_depth": -1,
          "learning_rate" : 0.01,
          "bagging_fraction" : 0.9,  # subsample
          "feature_fraction" : 0.9,  # colsample_bytree
          "bagging_freq" : 5,        # subsample_freq
          "bagging_seed" : 2018,
          "verbosity" : -1 }

In [153]:
lgbm=lgb.train(params, train_data,50)

In [141]:
#y_pred = lgbm.predict(X_test)

In [142]:
"""
predictions = []

for ii in y_pred:
    predictions.append(np.argmax(ii))
"""

In [143]:
#from sklearn.metrics import f1_score
#f1_score(y_test,predictions,average='weighted')

0.5362578215654454

In [154]:
test_c = test.copy()
test_c = test_make(test_c)
test_c = test_c.values
ypred=lgbm.predict(test_c)
le = LabelEncoder()
le.fit(train['outcome_type'].values)
predictionsa = []
for ii in ypred:
    predictionsa.append(np.argmax(ii))
y_pred = le.inverse_transform(predictionsa)
new_df = pd.DataFrame({"animal_id_outcome":test["animal_id_outcome"],"outcome_type":y_pred})
new_df=new_df.set_index("animal_id_outcome")
new_df.to_csv("submission_Anubhav_25.csv")

In [83]:
model = XGBClassifier()
model.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='multi:softprob', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [84]:
from sklearn.metrics import f1_score
y_pred = model.predict(X_test)
f1_score(y_test,y_pred,average='micro')

0.5513490901485045

In [23]:
def test_make(new_train):
    new_train = new_train.drop(['animal_id_outcome','dob_year','dob_month','color','age_upon_intake','count','age_upon_intake_(days)','age_upon_intake_age_group','intake_datetime','intake_month','intake_year','intake_monthyear','intake_weekday','intake_hour','intake_number','time_in_shelter','age_upon_outcome','date_of_birth','age_upon_outcome_(days)','age_upon_outcome_age_group','outcome_datetime','outcome_month','outcome_year','outcome_monthyear','outcome_weekday','outcome_hour','outcome_number'],axis=1)
    new_train['sex_upon_intake'] = new_train['sex_upon_intake'].fillna('unknown')
    new_train['sex_upon_outcome'] = new_train['sex_upon_outcome'].fillna('unknown')
    new_train['animal_type']= pd.Series(label_encode(new_train['animal_type']))
    new_train['breed']= pd.Series(label_encode(new_train['breed']))
    new_train['intake_condition']= pd.Series(label_encode(new_train['intake_condition']))
    new_train['intake_type']= pd.Series(label_encode(new_train['intake_type']))
    new_train['sex_upon_intake']= pd.Series(label_encode(new_train['sex_upon_intake']))
    new_train['sex_upon_outcome']= pd.Series(label_encode(new_train['sex_upon_outcome']))
    #new_train['outcome_type']=pd.Series(label_encode(new_train['outcome_type']))
    new_train['breed'] = pd.Series(label_encode(new_train['breed']))
    #new_train = new_train.drop(['time_in_shelter_days'],axis=1)
    return new_train

In [86]:
test_c = test.copy()
test_c = test_make(test_c)
y_pred = model.predict(test_c)
le = LabelEncoder()
le.fit(train['outcome_type'].values)
y_pred = le.inverse_transform(y_pred)
new_df = pd.DataFrame({"animal_id_outcome":test["animal_id_outcome"],"outcome_type":y_pred})
new_df=new_df.set_index("animal_id_outcome")
new_df.to_csv("submission_Anubhav_11.csv")

In [49]:
from sklearn.model_selection import GridSearchCV
params = {
        'min_child_weight': [1, 5, 10],
        'gamma': [0.5, 1, 1.5, 2, 5],
        'subsample': [0.6, 0.8, 1.0],
        'colsample_bytree': [0.6, 0.8, 1.0],
        'max_depth': [3, 4, 5],
        'n_estimators': [100,250,500]
        }
clf = GridSearchCV(model, params, n_jobs=3,cv=5,verbose=2)
clf.fit(x,y)

best_parameters, score, _ = max(clf.grid_scores_, key=lambda x: x[1])
print('Raw AUC score:', score)
for param_name in sorted(best_parameters.keys()):
    print("%s: %r" % (param_name, best_parameters[param_name]))

Fitting 5 folds for each of 1215 candidates, totalling 6075 fits

[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  35 tasks      | elapsed: 11.4min

KeyboardInterrupt: