In [1]:
#trying the challenge question for the societe generale question

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [53]:
train_df_main = pd.read_csv("c3cc8568-0-dataset/train.csv")
train_df = train_df_main.copy()

In [54]:
train_df.head()

,Complaint-ID,Date-received,Transaction-Type,Complaint-reason,Company-response,Date-sent-to-company,Complaint-Status,Consumer-disputes,Consumer-complaint-summary
0,Tr-1,11/11/2015,Mortgage,"Loan servicing, payments, escrow account",NaN,11/11/2015,Closed with explanation,Yes,"Seterus, Inc a déposé un faux rapport auprès d..."
1,Tr-2,7/7/2015,Credit reporting,Incorrect information on credit report,Company chooses not to provide a public response,7/7/2015,Closed with non-monetary relief,No,XX / XX / XXXX La requête en faillite n ° XXXX...
2,Tr-3,5/7/2015,Bank account or service,Using a debit or ATM card,NaN,5/7/2015,Closed with explanation,No,"El XXXX / XXXX / 15, estaba preparando el vuel..."
3,Tr-4,11/12/2016,Debt collection,Cont'd attempts collect debt not owed,Company believes it acted appropriately as aut...,11/12/2016,Closed with explanation,No,"The loan was paid in XXXX XXXX. In XXXX, 4 yea..."
4,Tr-5,9/29/2016,Credit card,Payoff process,Company has responded to the consumer and the ...,9/29/2016,Closed with explanation,No,J'ai obtenu un compte de crédit de soins pour ...

In [55]:
#total unique values in the prediction column 
to_pred = train_df['Complaint-Status']
print(to_pred.unique())

['Closed with explanation' 'Closed with non-monetary relief' 'Closed'
 'Closed with monetary relief' 'Untimely response']

In [56]:
#we have to encode the text data in the table to be able to predict info
list(train_df)

['Complaint-ID',
 'Date-received',
 'Transaction-Type',
 'Complaint-reason',
 'Company-response',
 'Date-sent-to-company',
 'Complaint-Status',
 'Consumer-disputes',
 'Consumer-complaint-summary']

In [57]:
#this is all certinaly types of the debts that people get through the banks
train_df["Transaction-Type"].unique()

array(['Mortgage', 'Credit reporting', 'Bank account or service',
       'Debt collection', 'Credit card', 'Consumer Loan',
       'Credit card or prepaid card',
       'Credit reporting, credit repair services, or other personal consumer reports',
       'Student loan', 'Payday loan', 'Vehicle loan or lease',
       'Prepaid card', 'Payday loan, title loan, or personal loan',
       'Money transfer, virtual currency, or money service',
       'Checking or savings account', 'Other financial service',
       'Money transfers', 'Virtual currency'], dtype=object)

In [58]:
#we have to do the text idf of the Complaint Reason Column
#tokenizing the input
import sklearn
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [59]:
le.fit(train_df["Transaction-Type"])

LabelEncoder()

In [60]:
le.classes_

array(['Bank account or service', 'Checking or savings account',
       'Consumer Loan', 'Credit card', 'Credit card or prepaid card',
       'Credit reporting',
       'Credit reporting, credit repair services, or other personal consumer reports',
       'Debt collection',
       'Money transfer, virtual currency, or money service',
       'Money transfers', 'Mortgage', 'Other financial service',
       'Payday loan', 'Payday loan, title loan, or personal loan',
       'Prepaid card', 'Student loan', 'Vehicle loan or lease',
       'Virtual currency'], dtype=object)

In [61]:
train_df["Transaction-Type"]=le.transform(train_df["Transaction-Type"])

In [62]:
train_df.head()

,Complaint-ID,Date-received,Transaction-Type,Complaint-reason,Company-response,Date-sent-to-company,Complaint-Status,Consumer-disputes,Consumer-complaint-summary
0,Tr-1,11/11/2015,10,"Loan servicing, payments, escrow account",NaN,11/11/2015,Closed with explanation,Yes,"Seterus, Inc a déposé un faux rapport auprès d..."
1,Tr-2,7/7/2015,5,Incorrect information on credit report,Company chooses not to provide a public response,7/7/2015,Closed with non-monetary relief,No,XX / XX / XXXX La requête en faillite n ° XXXX...
2,Tr-3,5/7/2015,0,Using a debit or ATM card,NaN,5/7/2015,Closed with explanation,No,"El XXXX / XXXX / 15, estaba preparando el vuel..."
3,Tr-4,11/12/2016,7,Cont'd attempts collect debt not owed,Company believes it acted appropriately as aut...,11/12/2016,Closed with explanation,No,"The loan was paid in XXXX XXXX. In XXXX, 4 yea..."
4,Tr-5,9/29/2016,3,Payoff process,Company has responded to the consumer and the ...,9/29/2016,Closed with explanation,No,J'ai obtenu un compte de crédit de soins pour ...

In [63]:
#similary for others
def labelEncode(series):
    le = preprocessing.LabelEncoder()
    le.fit(series)
    series = le.transform(series)
    #print(series)
    return series

In [64]:
to_pred = labelEncode(to_pred)
train_df["Complaint-Status"] = to_pred

In [65]:
#Reading the testing data
test_df = pd.read_csv("c3cc8568-0-dataset/test.csv")

In [66]:
test_df.head()

,Complaint-ID,Date-received,Transaction-Type,Complaint-reason,Company-response,Date-sent-to-company,Consumer-disputes,Consumer-complaint-summary
0,Te-1,8/18/2016,Bank account or service,"Account opening, closing, or management",Company has responded to the consumer and the ...,8/18/2016,No,XXXX / XXXX / 16 I called Citibank to open a c...
1,Te-2,4/18/2016,Debt collection,Communication tactics,Company believes it acted appropriately as aut...,4/20/2016,No,I'm struggling financially. I called and I off...
2,Te-3,3/23/2016,Credit reporting,Incorrect information on credit report,NaN,3/23/2016,No,"In XXXX of 2015, an automatic payment was conf..."
3,Te-4,6/26/2017,Student loan,Dealing with your lender or servicer,NaN,6/26/2017,NaN,"I submitted a request to XXXX, which is my cur..."
4,Te-5,5/13/2016,Credit reporting,Incorrect information on credit report,Company has responded to the consumer and the ...,5/13/2016,No,A state tax lien was filed against me XXXX / X...

In [67]:
#As there are null values we have to handle them as well as they can create problem in future
train_df.info()
train_df["Company-response"]=train_df["Company-response"].fillna("It has nothing")
print("filled the null values")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43266 entries, 0 to 43265
Data columns (total 9 columns):
Complaint-ID                  43266 non-null object
Date-received                 43266 non-null object
Transaction-Type              43266 non-null int32
Complaint-reason              43266 non-null object
Company-response              20760 non-null object
Date-sent-to-company          43266 non-null object
Complaint-Status              43266 non-null int32
Consumer-disputes             35568 non-null object
Consumer-complaint-summary    43266 non-null object
dtypes: int32(2), object(7)
memory usage: 2.6+ MB
filled the null values

In [68]:
train_df["Company-response"]=labelEncode(train_df["Company-response"])

In [69]:
train_df.head()

,Complaint-ID,Date-received,Transaction-Type,Complaint-reason,Company-response,Date-sent-to-company,Complaint-Status,Consumer-disputes,Consumer-complaint-summary
0,Tr-1,11/11/2015,10,"Loan servicing, payments, escrow account",10,11/11/2015,1,Yes,"Seterus, Inc a déposé un faux rapport auprès d..."
1,Tr-2,7/7/2015,5,Incorrect information on credit report,7,7/7/2015,3,No,XX / XX / XXXX La requête en faillite n ° XXXX...
2,Tr-3,5/7/2015,0,Using a debit or ATM card,10,5/7/2015,1,No,"El XXXX / XXXX / 15, estaba preparando el vuel..."
3,Tr-4,11/12/2016,7,Cont'd attempts collect debt not owed,4,11/12/2016,1,No,"The loan was paid in XXXX XXXX. In XXXX, 4 yea..."
4,Tr-5,9/29/2016,3,Payoff process,9,9/29/2016,1,No,J'ai obtenu un compte de crédit de soins pour ...

In [70]:
len(train_df["Complaint-reason"].unique())

150

In [71]:
train_df["Complaint-reason"]=labelEncode(train_df["Complaint-reason"])

In [72]:
train_df.head()

,Complaint-ID,Date-received,Transaction-Type,Complaint-reason,Company-response,Date-sent-to-company,Complaint-Status,Consumer-disputes,Consumer-complaint-summary
0,Tr-1,11/11/2015,10,78,10,11/11/2015,1,Yes,"Seterus, Inc a déposé un faux rapport auprès d..."
1,Tr-2,7/7/2015,5,71,7,7/7/2015,3,No,XX / XX / XXXX La requête en faillite n ° XXXX...
2,Tr-3,5/7/2015,0,145,10,5/7/2015,1,No,"El XXXX / XXXX / 15, estaba preparando el vuel..."
3,Tr-4,11/12/2016,7,36,4,11/12/2016,1,No,"The loan was paid in XXXX XXXX. In XXXX, 4 yea..."
4,Tr-5,9/29/2016,3,100,9,9/29/2016,1,No,J'ai obtenu un compte de crédit de soins pour ...

In [73]:
#as all the sentences are different we can try to find common or here i am doing sentiment classification to group sentences
sentences = train_df["Consumer-complaint-summary"].values

In [74]:
len(sentences)

43266

In [75]:
#undrestanding customer complaint summry is important

In [76]:
#as it is very memory heavy to do the heavy lifting

In [77]:
#understating the realtion with other data
from sklearn import svm
clf = svm.SVC(gamma='scale',decision_function_shape='ovo')

In [78]:
#c = [train_df["Company-response"].values,train_df["Complaint-reason"].values]
y = train_df["Complaint-Status"]
c_x = pd.concat((train_df["Company-response"],train_df["Complaint-reason"],train_df["Transaction-Type"]),axis=1)

In [79]:
clf.fit(c_x,y)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovo', degree=3, gamma='scale', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [80]:
#clf.score(c,y)

In [81]:
test_df.head()

,Complaint-ID,Date-received,Transaction-Type,Complaint-reason,Company-response,Date-sent-to-company,Consumer-disputes,Consumer-complaint-summary
0,Te-1,8/18/2016,Bank account or service,"Account opening, closing, or management",Company has responded to the consumer and the ...,8/18/2016,No,XXXX / XXXX / 16 I called Citibank to open a c...
1,Te-2,4/18/2016,Debt collection,Communication tactics,Company believes it acted appropriately as aut...,4/20/2016,No,I'm struggling financially. I called and I off...
2,Te-3,3/23/2016,Credit reporting,Incorrect information on credit report,NaN,3/23/2016,No,"In XXXX of 2015, an automatic payment was conf..."
3,Te-4,6/26/2017,Student loan,Dealing with your lender or servicer,NaN,6/26/2017,NaN,"I submitted a request to XXXX, which is my cur..."
4,Te-5,5/13/2016,Credit reporting,Incorrect information on credit report,Company has responded to the consumer and the ...,5/13/2016,No,A state tax lien was filed against me XXXX / X...

In [82]:
test_df["Transaction-Type"] = labelEncode(test_df["Transaction-Type"])
test_df["Complaint-reason"] = labelEncode(test_df["Complaint-reason"])
test_df["Company-response"]= test_df["Company-response"].fillna("It has nothing")
test_df["Company-response"] = labelEncode(test_df["Company-response"])

In [83]:
d = pd.concat((test_df["Company-response"],test_df["Complaint-reason"],test_df["Transaction-Type"]),axis=1)
c = clf.predict(d)

In [84]:
sample_df = pd.read_csv("c3cc8568-0-dataset/sample_submission.csv")

In [85]:
sample_df.head()

  Complaint-ID         Complaint-Status
0         Te-1  Closed with explanation
1         Te-2  Closed with explanation
2         Te-3  Closed with explanation
3         Te-4  Closed with explanation
4         Te-5  Closed with explanation

In [86]:
le = preprocessing.LabelEncoder()
le.fit(train_df_main["Complaint-Status"])
CS = le.inverse_transform(c)
ser_CS = pd.Series(CS)
ser_CS=ser_CS.rename("Complaint-Status")
print("Done")

Done

In [87]:
final_df = pd.concat((test_df["Complaint-ID"],ser_CS),axis=1)

In [88]:
final_df.head()

  Complaint-ID         Complaint-Status
0         Te-1  Closed with explanation
1         Te-2  Closed with explanation
2         Te-3  Closed with explanation
3         Te-4  Closed with explanation
4         Te-5  Closed with explanation

In [89]:
final_df.to_csv("submit_Anubhav_1.csv")

In [90]:
import torch
torch.cuda.current_device()

0

In [91]:
torch.cuda.get_device_name(0)

'GeForce MX150'

In [92]:
import xgboost as xgb

In [93]:
model = xgb.XGBClassifier()

In [94]:
model.fit(c_x,y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='multi:softprob', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [95]:
acc = model.predict(d)

In [96]:
le = preprocessing.LabelEncoder()
le.fit(train_df_main["Complaint-Status"])
CS = le.inverse_transform(acc)
ser_CS = pd.Series(CS)
ser_CS=ser_CS.rename("Complaint-Status")
print("Done")

Done

In [98]:
final_df = pd.concat((test_df["Complaint-ID"],ser_CS),axis=1)
final_df.head()

  Complaint-ID         Complaint-Status
0         Te-1  Closed with explanation
1         Te-2  Closed with explanation
2         Te-3  Closed with explanation
3         Te-4  Closed with explanation
4         Te-5  Closed with explanation

In [99]:
final_df.to_csv("submit_Anubhav_2.csv")