In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
train = pd.read_csv('train_file.csv')
test = pd.read_csv('test_file.csv')

In [5]:
train.head()

,ID,UsageClass,CheckoutType,CheckoutYear,CheckoutMonth,Checkouts,Title,Creator,Subjects,Publisher,PublicationYear,MaterialType
0,1,Physical,Horizon,2005,4,1,Tidal wave,NaN,"Tsunamis, Tsunamis Juvenile literature",NaN,NaN,BOOK
1,2,Physical,Horizon,2005,4,1,London holiday / Richard Peck.,"Peck, Richard, 1934-",NaN,"Viking,",1998.,BOOK
2,3,Physical,Horizon,2005,4,3,Cinco de Mayo : celebrating Hispanic pride / C...,"Gnojewski, Carol",Cinco de Mayo Mexican holiday History Juvenile...,"Enslow Publishers,",c2002.,BOOK
3,4,Physical,Horizon,2005,4,1,Annapolis,NaN,"War stories, Historical fiction, Domestic fict...",NaN,NaN,BOOK
4,5,Physical,Horizon,2005,4,1,As a man thinketh,NaN,Thought and thinking,NaN,NaN,BOOK

In [7]:
train.head()
np.unique(train['MaterialType'].values)

array(['BOOK', 'CR', 'MIXED', 'MUSIC', 'SOUNDCASS', 'SOUNDDISC',
       'VIDEOCASS', 'VIDEODISC'], dtype=object)

In [8]:
new_train = train.copy()
new_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31653 entries, 0 to 31652
Data columns (total 12 columns):
ID                 31653 non-null int64
UsageClass         31653 non-null object
CheckoutType       31653 non-null object
CheckoutYear       31653 non-null int64
CheckoutMonth      31653 non-null int64
Checkouts          31653 non-null int64
Title              31653 non-null object
Creator            8516 non-null object
Subjects           29890 non-null object
Publisher          9737 non-null object
PublicationYear    9722 non-null object
MaterialType       31653 non-null object
dtypes: int64(4), object(8)
memory usage: 2.9+ MB

In [11]:
def makeX(data):
    data = data.drop(['ID','UsageClass','CheckoutType','CheckoutYear','CheckoutMonth','Checkouts','PublicationYear','Publisher','Creator'],axis=1)
    data["Subjects"] = data["Subjects"].fillna("Unknown") 
    return data
new_train = makeX(new_train)

In [9]:
def makeY(data):
    le = LabelEncoder()
    le.fit(data['MaterialType'])
    data['MaterialType'] = le.transform(data['MaterialType'])
    return data
new_train = makeY(new_train)

In [15]:
new_test = makeX(test)

In [20]:
from sklearn.feature_extraction.text import p
c = TfidfVectorizer(min_df=5, max_df = 0.8, sublinear_tf=True, use_idf =True, stop_words = 'english').fit(new_train.Title)
df_title_tr = pd.DataFrame(c.transform(new_train.Title).todense(),columns=c.get_feature_names())
df_title_te = pd.DataFrame(c.transform(new_test.Title).todense(),columns=c.get_feature_names())

In [28]:
d = TfidfVectorizer().fit(new_train.Subjects)
df_subject_tr = pd.DataFrame(d.transform(new_train.Subjects).todense(),columns=c.get_feature_names())
df_subject_te = pd.DataFrame(d.transform(new_test.Subjects).todense(),columns=c.get_feature_names())

MemoryError:

In [29]:
df_title_te.head()

,000,10,100,1000,1001,101,11,12,120,125,...,zhuan,zi,zion,zone,zoo,zou,zu,zui,zuo,đường
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [80]:
new_train['Title'] = Title_tfidf.toarray()

In [81]:
new_train['Subjects'] = Subject_tfidf.toarray()

In [82]:
new_train.head()

   Title  Subjects  MaterialType
0    0.0       0.0             0
1    0.0       0.0             0
2    0.0       0.0             0
3    0.0       0.0             0
4    0.0       0.0             0

In [30]:
from sklearn.model_selection import train_test_split
y = new_train['MaterialType']
x = new_train.drop(['MaterialType'],axis=1)
y = y.values
x = x.values
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.10, random_state=42,shuffle=True)

In [31]:
#trainig models
from sklearn.svm import SVC
from sklearn.metrics import f1_score

In [ ]:
clf_a = SVC(gamma='auto')
clf_a.fit(df_title_tr,y)
y_pred = clf_a.predict(df_title_te)
#f1_score(y_test,y_pred,average='weighted')

In [ ]:
le = LabelEncoder()
le.fit(train['MaterialType'].values)
y_pred = le.inverse_transform(y_pred)
new_df = pd.DataFrame({"ID":test["ID"],"MaterialType":y_pred})
new_df=new_df.set_index("animal_id_outcome")
new_df.to_csv("submission_Anubhav_1.csv")

In [89]:
clf = SVC(gamma='auto')
X_train, X_test, y_train, y_test = train_test_split(Title_tfidf, y, test_size=0.10, random_state=42,shuffle=True)
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
f1_score(y_test,y_pred,average='weighted')

c:\users\anubh\appdata\local\programs\python\python36\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

0.5599290287836908

In [90]:
clf = SVC(gamma='auto')
X_train, X_test, y_train, y_test = train_test_split(Subject_tfidf, y, test_size=0.10, random_state=42,shuffle=True)
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
f1_score(y_test,y_pred,average='weighted')

0.5599290287836908

In [117]:
test_new = test.copy()
test_new = makeX(test_new)

In [118]:
test_new.head()

,Title,Subjects
0,Footprints at the window,"England Fiction, Space and time Fiction"
1,Seven brides for seven brothers,"Video recordings for the hearing impaired, Mus..."
2,History [sound recording] / Loudon Wainwright ...,Popular music 1991 2000
3,Doing big business on the internet,"Internet, Internet advertising, Information ne..."
4,Lets learn how to dance shag,"Shag Dance, Ballroom dancing"

In [119]:
vectorizer.fit(train['Title'])
c = vectorizer.transform(test_new['Title'])

In [120]:
vectorizer.fit(train['Subjects'].fillna("Unknown"))
d = vectorizer.transform(test_new['Subjects'])

In [121]:
test_new['Title'] = c.toarray()
test_new['Subjects'] =d.toarray()

In [130]:
test_new.head()

   Title  Subjects
0    0.0       0.0
1    0.0       0.0
2    0.0       0.0
3    0.0       0.0
4    0.0       0.0

In [138]:
clf_a.fit(x,y)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [139]:
pred = clf_a.predict(test_new.values)